.main{
    padding-top: 6rem;
}
.aboutUsParagraph , .historyParagraph{
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: var(--text-font);
    text-align: justify;
    margin: 0 1.5rem;
}

.historyParagraph{
    margin-bottom: 1.5rem;
}